mat-card {
    text-align: center;
  }
  .title-center {
      flex: 1 1 auto;
      text-align: center;
    }
  .mat-card-title{
    font-size: 32px;
  }
  .full-width-input {
    width: 70%;
  }
  .mat-toolbar.mat-primary {
    background: #041E42;
    color: #ffffff;
  }
  
  .mat-blue {
    background-color: #041E42;
    color: #fff;
  }
  .example-spacer {
    flex: 1 1 auto;
  }
  .utep-logo{
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: -16px;
    height: 80px;
    width: 90px;
    vertical-align: middle;
  }

.page{
    background-color: #fff;
}

/* side navigation*/
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 100px;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
