<div class="page">
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            
            <span>
                <img mat-card-image src="https://d1gntqhqj0rbcs.cloudfront.net/assets/843/UTEP_box_mark.png" class="utep-logo">
                Engineering Edge Center
            </span>
            <span class="example-spacer"></span>
            <button mat-button>About</button>
            <button mat-button>Contact</button>
            <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item>
                <mat-icon>dialpad</mat-icon>
                <span>Redial</span>
                </button>
                <button mat-menu-item disabled>
                <mat-icon>voicemail</mat-icon>
                <span>Check voicemail</span>
                </button>
                <button mat-menu-item>
                <mat-icon>notifications_off</mat-icon>
                <span>Disable alerts</span>
                </button>
            </mat-menu>
        </mat-toolbar-row>
    </mat-toolbar>

    <mat-card>
            <mat-sidenav-container class="example-container" autosize>
                <mat-drawer #drawer class="example-sidenav" mode="side">
                  <p>Auto-resizing sidenav</p>
                  <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
                  <button (click)="showFiller = !showFiller" mat-raised-button>
                    Toggle extra text
                  </button>
                </mat-drawer>
                <button mat-button (click)="drawer.toggle()"class="menu" >
                        <mat-icon>menu</mat-icon>
                        Menu
                      </button>
                <mat-card-title>
                    Welcome Mark!
                </mat-card-title>
                    <br>
                    <p>
                        some words for student
                    </p>
                    <br>
                <div class="example-sidenav-content">
                  
                </div>
              
              </mat-sidenav-container>

    </mat-card>
</div>