mat-card {
  }
  .title-center {
      flex: 1 1 auto;
      text-align: center;
    }
  .mat-card-title{
    font-size: 32px;
  }
  .full-width-input {
    width: 70%;
  }
  .mat-toolbar.mat-primary {
    background: #041E42;
    color: #ffffff;
  }
  
  .mat-blue {
    background-color: #041E42;
    color: #fff;
  }
  .example-spacer {
    flex: 1 1 auto;
  }
  .utep-logo{
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: -16px;
    height: 80px;
    width: 90px;
    vertical-align: middle;
  }

.page{
    background-color: #fff;
}

/* side navigation*/
.example-container {
  height: 100%;
  background-color: #fff;
  
}

.example-sidenav-content {
  display: flex;
  height: 100%;
}

.example-sidenav {
  padding: 20px;
}

.menu{
  text-align: left;
}